{% extends 'base.html' %}

{% block content %}
<p>
	We could not locate a Tor node with fingerprint:<br />
	<strong>{{ fingerprint }}</strong>.
</p>

<p>
	Here are some potential problems:

	<ul>
		<li>A node with that fingerprint does not exist</li>
		<li>The fingerprint was entered incorrectly</li> 
		<li>The node with the given fingerprint was set up within the last hour, in which case you should try to register again a bit later</li>
		<li>The node with the given fingerprint has been down for over a year</li>
		<li>The node you are trying to monitor is running on a <em>very</em> out of date verion of Tor (version 0.1.0.5 or earlier) and doesn't publish its fingerprint to the directory authorities.</li> 
	</ul>
</p>
{% endblock %}
