{% extends "base.html" %}

{% block header %}
Tor Weather - Home
{% endblock header %}

{% block title %}
Tor Weather
{% endblock title %}

{% block content %}
<div id="home-page">
	<a id="sign-up-link" href="{{ sub }}">Sign up for Tor Weather!</a>

	<h2>What is Tor Weather?</h2>

	<p>
		Tor Weather provides an email notification service to any users who want to monitor the status of a Tor node. Upon subscribing, you can specify what types of alerts you would like to receive. The main purpose of Tor Weather is to notify node operators via email if their node is down for longer than a specified period, but other notification types are available.
</p>

	<h2>Why should I subscribe?</h2>
	<p>
		Tor Weather is useful to node operators who want to know as soon as their router is down in order to fix the problem. You can also use Tor Weather to notify you when your router is running an out of date version of Tor or when your router has earned you a Tor T-shirt.
	</p>

	<h2>What if I set my router to hibernate?</h2>
	<p>
		You will not receive a Tor Weather report simply because the node you are monitoring is hibernating. However, if a node goes down during a hibernation period, there will likely be some delay (no more than 18 hours) before we recognize the node as down and send a notification.
	</p>

	<h2>Will I be spammed by Tor Weather reports?</h2>
	<p>
		No! You can change your preferences to minimize your Tor Weather email notifications. You can unsubscribe at any time.
	</p>
</div>
{% endblock content %}
